/* start nav */

header nav .main-container {
    display: flex;
    justify-content: space-between;
    background: #bdc3c7;
}

header nav .main-container .nav-right {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

header nav .main-container .nav-right a {
    color: #444;
    padding: 5px 10px;
    margin: 2px 5px;
}

header nav .main-container .nav-left {
    display: flex;
    padding: 5px 10px;
    margin: 2px 5px;
}

header nav .main-container .nav-left button {
    border-radius: 5px;
}

header nav .main-container .nav-left i,
a {
    margin-left: 20px;
}
header nav .main-container .nav-left a {
    margin-left: 20px;
    font-family: Vazir;
}

/* end nav */
